<!-- <div class="background-container">
    <div class="centered-background">
    <img src="/images/login_img.jpg" alt="Background Image" class="background-image" width="300" height="200" />
    </div>
</div> -->

<h2>Best Cabs! Best Fare</h2>

<div class="container">
    <h3 class="subtitle">Best Cab! Best Fare</h3>
    <h3>Select Locations</h3>
    
    <div class="dropdown-container">
        <div class="dropdown">
            <label for="pickup">Pickup Location:</label>
            <select id="pickup" [(ngModel)]="SourceLocation">
                <option value="">Select Pickup Location</option>
                <option *ngFor="let location of pickupLocations" [value]="location">{{ location }}</option>
            </select>
        </div>

        <div class="dropdown">
            <label for="drop">Drop Location:</label>
            <select id="drop" [(ngModel)]="DestinationLocation">
                <option value="">Select Drop Location</option>
                <option *ngFor="let location of dropLocations" [value]="location">{{ location }}</option>
            </select>
        </div>
    </div>

    <button class="search-button" (click)="restUserData.farecalc(SourceLocation,DestinationLocation)">Search Cabs</button>
</div>
  


  <button mat-button (click)="restUserData.getAllActiveBookingDetails()">Booking History</button>

  <table border="1">
      <tr>
          <th> Source </th>
          <th> Destinaton </th>
          <th> Fare </th>
          <th> Status </th>
          
  
      </tr>
      <tr *ngFor="let p of restUserData.activebooking ">
          <td> {{p.pickUpLocation}} </td>
          <td> {{p.dropLocation}} </td>
          <td> {{p.fare}} </td>
          <td> {{p.status}} </td>
      </tr>
  </table> 
  
  
  
  <br>
  <hr/>
  <br>
  
  
  
  <button (click)="restUserData.searchActiveBookingByStatus()">search Active Rides</button>
  <table border="1">
      <tr>
          <th> Source </th>
          <th> Destinaton </th>
          <th> Fare </th>
          <th> Status </th>
          
  
      </tr>
      <tr *ngFor="let p of restUserData.searchData;
      ">
          <td> {{p.pickUpLocation}} </td>
          <td> {{p.dropLocation}} </td>
          <td> {{p.fare}} </td>
          <td> {{p.status}} </td>
      </tr>
  </table> 

  <app-maps></app-maps>
  


