
html, body {
    height: 100%;
    margin: 0;
    position: relative; 
}

.background-container {
    position: absolute; 
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    padding: 30px;
    text-align: center;
     
}

h2 {
    text-align: center;
    color: #4a4a4a;
    margin-top: 20px;
    font-size: 2.5em;
    letter-spacing: 1px;
}

h3 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.dropdown-container {
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
   
}

.dropdown {
    flex: 1;
    margin-right: 10px;
}

.dropdown:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 16px;
    transition: border-color 0.3s, background-color 0.3s;
}

select:hover {
    border-color: #007BFF;
}

select:focus {
    outline: none;
    border-color: #007BFF;
    background-color: #fff;
}

.search-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
}

.search-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

