<br>
<br>
<div id="logindiv">
<!-- <img src="images/login_img.jpg"/> -->

<div class="login-container">
    <h1>Welcome Back</h1>
    <form #loginForm="ngForm" (ngSubmit)="restData.loginDetails(loginForm)">
      <input type="text" placeholder="Username" required ngModel name="userName">
      <input type="password" placeholder="Password" required ngModel name="Password">
      <button  type="submit" (click)="redirecttohome()">Login</button>
    </form>
  </div>

</div>


<a routerLink="/admin"></a>
<router-outlet></router-outlet>