<br>
<br>
<div class="register-container">
    <h1>Create Account</h1>
    <form #registerForm="ngForm" (ngSubmit)="restData.registerDetails(registerForm)" >
      <input type="text" placeholder="Username" required ngModel name="userName">
      <input type="tel" placeholder="Phone Number" required ngModel name="phoneNum">
      <input type="email" placeholder="Email" required ngModel name="userEmailId">
      <input type="password" placeholder="Password" required ngModel name="userPassword">
      <button type="submit" (click)="redirecttologin()">Register</button>
    </form>
  </div>
  