.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9; 
    /* background-image: url('../../../src/assets/media/im2.png');  */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
  }
  
  .toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .button-container {
    margin-bottom: 20px;
  }
  
  .data-card {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
  }
  
  .form-card {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .mat-form-field .mat-input-element {
    font-size: 16px; 
  }
  
  button {
    margin-top: 10px;
  }