
<button (click)="restUserData.getAllDriverDetails()">get Users</button>

 

    <table border="1">
        <tr>
            <th>Driver id</th>
            <th>Driver Name</th>
            <th>driver Phone Number</th>
            <th>driver VehicleNumber</th>
            
    
        </tr>
        <tr *ngFor="let p of restUserData.usersdata ">
            <td> {{p.driverUserId}} </td>
            <td> {{p.driverName}} </td>
            <td> {{p.driverPhoneNumber}} </td>
            <td> {{p.driverVehicleNumber}} </td>
        
        </tr>
    </table> 
    


<br>
<hr/>
<br>

<h3>Add Driver</h3>
<form #addcustomer="ngForm" (ngSubmit)="restUserData.addDriverFromFORM(addcustomer)">

  

    <label >Driver Name</label>
    <input type="text" name="driverName" ngModel>
    <br>

    <label >Driver Phone Number</label>
    <input type="number" name="driverPhoneNumber" ngModel>
    <br>

    <label >Driver Vehicle Number</label>
    <input type="text" name="driverVehicleNumber" ngModel>
    <br>

    <button type="submit">ADD</button>

</form>

<br>
<hr/>
<br>


<form #updatecustomer="ngForm" (ngSubmit)="restUserData.updateDriverDetails(updatecustomer)">

    <label >Driver Id</label>
    <input type="number" name="driverUserId" ngModel>
    <br>

    <label >Driver Name</label>
    <input type="text" name="driverName" ngModel>
    <br>

    <label >Driver Phone Number</label>
    <input type="number" name="driverPhoneNumber" ngModel>
    <br>

    <label >Driver Vehicle Number</label>
    <input type="text" name="driverVehicleNumber" ngModel>
    <br>

    <button type="submit">UPDATE</button>

</form>

<br>
<hr/>
<br>

<h3> Delete User</h3>

<form #delInfo="ngForm" (ngSubmit)="restUserData.delDetails(delInfo)">
    <label>Driver ID</label>
    <input type="number" name="driverUserId" ngModel>
    <br>
    <input type="submit" value="Delete">
</form>


<br>
<hr/>
<br>


<button (click)="restUserData.getAllContactDetails()">get Conatct</button>

 

    <table border="1">
        <tr>
            <th>Contact ID</th>
            <th>Contact Name</th>
            <th>Contact Phone Number</th>
            <th>Message</th>
            
    
        </tr>
        <tr *ngFor="let p of restUserData.contactdata ">
            <td> {{p.conId}} </td>
            <td> {{p.cname}} </td>
            <td> {{p.email}} </td>
            <td> {{p.cmessage}} </td>
        
        </tr>
    </table> 
    


<br>
<hr/>
<br>












